<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Form pqtient</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <form method="post" th:action="@{/save}">
        <div class="container mt-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Nouveau patient</h3>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="nom" class="form-label">Nom</label>
                        <input type="text" id="nom" name="nom" class="form-control" th:value="${patient.nom}">
                        <span th:errors="${patient.nom}" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="dateNaissance" class="form-label">Date de naissance</label>
                        <input type="date" id="dateNaissance" name="dateNaissance" class="form-control" th:value="${patient.dateNaissance}">
                        <span th:errors="${patient.dateNaissance}" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="malade" class="form-label">Malade</label>
                        <input type="checkbox" id="malade" name="malade" class="form-check form-check-inline" th:checked="${patient.malade}">
                        <span th:errors="${patient.malade}" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="score" class="form-label">Score</label>
                        <input type="number" id="score" name="score" class="form-control" th:value="${patient.score}">
                        <span th:errors="${patient.score}" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>